body{
	font-family: 'Helvetica Neue';
	margin: 0;
	
}

#header{
	background-color: black;
	color: white;
}

#header h2, #header ul{
	display: inline-block;
}

#header ul{
	float: right;
}

#header h2{
	margin-left: 10px;
}

#header li{
	display: inline-block;
	list-style: none;
	margin-right: 10px;
	margin-top: 5px;
	width: 50px;
	text-align: center;
}

#header a{
	color: white;
}

#footer{
	position: absolute;
	bottom: 0;
	background-color: #e2e2e2;
	width: 100%;
}

#footer p{
	text-align: center;
	width: 100%;
}

article{
	width: 250px;
	background-color: #e5e5e5;
	display: inline-block;
	padding: 5px;
	margin: 5px;
}

article:nth-child(2){
	top: -5px;
}

#body{
	width: 830px;
	margin-left: auto;
	margin-right: auto;
}

#body h2{
	margin-top: 100px;
	margin-left: 5px;
}






