body{
	font-family: "Helvetica Neue";
}

li{
	list-style: none;
}

.status{
	border: none;
	font-size: 20px; 
	background-color: #FFF;
}

.verwijder{
	border: none;
	border-radius: 100px;
	width: 18px;
	height: 18px;
	background-color: red;
	position: absolute;
	margin-top: 6px;
	color: white;
}

.Done{
	text-decoration: line-through;
}

.Not:before{
	content:"";
	position:absolute;
	margin-left: -30px;
	margin-top: 2px;
	width:18px;
	height:18px;
	display:block;
	background-color:lightgrey;
	border-radius:100px;
}

.Done:before{
	content:"";
	position:absolute;
	margin-left: -30px;
	margin-top: 2px;
	width:18px;
	height:18px;
	display:block;
	background-color: #00fd00;
	border-radius:100px;
}

.Not:hover:before{
	background-color: #00fd00;
}
.Not:hover{
	text-decoration: line-through;
}
.Done:hover:before{
	background-color: lightgrey;
}
.Done:hover{
	text-decoration: none;
}





