body{
	font-family: "Helvetica";
}


th, td{
	border: solid #c2c2c2 1px;
	padding: 5px;
}

table{
	border-collapse: collapse;
}

tbody tr:nth-child(odd){
	background-color: #e9e9e9;
}

thead tr{
	background-color:  #d2d2d2;
}

#delete{
	background-image: url("icon-delete.png");
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	color: transparent;
}

#edit{
	background-image: url("icon-edit.png");
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	color: transparent;
}

.delete{
	background-color: #ffa0a0;
	color: white;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 5px;
	width: 200px;
}

.rowToDelete{
	background-color: #ffa0a0 !important;
}

#Zoeken{
	display: block;
	margin-top: 30px;
}

#message{
	background-color: #1c1c1c;
	color: white;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
}






